body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
img{
    max-width: 100%;
}
/* Formatação do Menu */
.top-header{
    background: #ffffff;
    width: 100%;
}
.logo-text{
    text-transform: uppercase;
    background-color: #F63E02;
    font-size: 24px;
    margin: 0;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    float: left;
    text-align: right;
}
/* Essa classe .js só ira funcionar quando o javascript estiver habilitado */
.js .top-header{
    position: fixed;
    width: 100%;
    z-index: 10;
}
.top-header-nav{
    /* display: inline-block; */
    clear: left;
}
.top-header-nav ul{
    margin: 0;
    padding: 0;
}
.top-header-nav li{
    list-style-type: none;
    background: #242a2c;
    text-align: center;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}
.header-btn-menu{
    float: right;
    margin: 1.5em;
    background: transparent;
    border: none;
    font-size: 14px;
}
.js .top-header-nav{
    transition: max-height 1s;
}
.top-header-nav a{
    color: #586165;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 0;
    font-size: 14px;
    font-weight: 600;
    display: block;
    transition: .5s ease-in-out;
}
.top-header-nav a:hover{
    color: #FF6201;
}
.hero-content{
    height: 80vh;
    padding: 40px 20px;
    /* text-align: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: 

    linear-gradient(45deg, white 50%, transparent 50%) left calc(50% + 20px) bottom no-repeat, 
    linear-gradient(-45deg, white 50%, transparent 45%) left calc(50% - 20px) bottom no-repeat,
    url(../img/base/01.jpg);
    
    background-size: 40px 40px, 40px 40px, cover;
}
.hero-content-title{
    text-transform: uppercase;
    background-color: #F63E02;
    color: white;
    font-size: 28px;
    font-weight: 600;
    padding: 30px 20px;
}
.hero-content-text{
    background-color: #242a2c;
    margin: 5px 30px 35px;
    color: white;
    padding: 20px;
    font-size: 16px;
}
.hero-content-button{
    border: 1px solid rgba(255, 255, 255, .3);
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 15px 25px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
/* Formatação dos Cards */
.container-section{
    margin-top: 2.5em;
}
.container-section-article-cards{
    margin-top: 10px;
}
.container-section-article-cards:hover{
    outline: 5px solid #FF6201;
    outline-offset: -5px;
    /* margin-top: 10px; */
}
.container-section-article-cards:hover .article-cards-avatar img{
    transform: translateY(-50%);
}
.container-section-article-cards:hover .container-section-title,
.container-section-article-cards:hover .container-section-text{
    color: #FF6201;
}
.container-section-article-cards-img{
    width: 100%;
}
.article-cards-avatar{
    margin: -55px auto;
    width: 88px;
    height: 88px;
    overflow: hidden;
}
.container-section-content{
    text-align: center;
    padding: 40px 25px 10px;
    border-left: 1px solid #dbe1e7;
}
.container-section-title{
    color: #737c85;
    font-size: 21px;
    font-weight: normal;
}
.container-section-text{
    color: #929da5;
    font-size: 14px; 
}
.container-section-link{
    text-decoration: none;
}
/* Conteudo introdutorio */
.content-main{
    background: #f8f9f9;
    padding: 20px 0 80px;
    border-top: 1px solid #e3e3e3;
}
.content-main h3{
    color: #737c85;
    font-size: 21px;
    padding-top: 40px;
    font-weight: 600;
}
.content-main p{
    color: #929da5;
    font-size: 14px;
    word-spacing: 5px;
    text-align: justify;
}
/* Imagens do final do site */
.last-articles-title{
    background-color: #F63E02;
    padding: 5px 0;
}
.last-articles-title h2{
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}
.last-articles-img{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 0;

}
.last-articles-img img{
    display: block;
    width: 100%;
}
/* Classes genericas */
.container-generic{
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 980px;
}
.button{
    padding: 15px 40px;
    border-radius: 5px;
    /* background: red; */
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    margin-right: 15px;
    display: inline-block; 
    transition: background .5s;
}
.button:hover{
    background-color: #929da5;
}
.button-primary{
    background-color: #FF6201;
    color: white;

}
.button-secundary{
    background-color: #FF6201;
    color: white;   
}
/* Slide com imagens */
.pc-slider{
    background-color: #242a2c;
    padding: 125px 0 100px;
    width: 100%;
    overflow: auto;
}
.slideshow{
    white-space: nowrap;

}
.slideshow figure{
    display: inline-block;
}
.js .pc-slider{
    overflow: hidden;
}
.js .pc-slider .slideshow{
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 950px;
}
.js .pc-slider .slideshow figure{
    opacity: 0;
    transition: 1s opacity;
    width: 100%;
   
}
.js .pc-slider .slideshow figure.show{
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.js .pc-slider .prev,
.js .pc-slider .next{
    z-index: 3;
    position: absolute;
    top: 50%;
    cursor: pointer;
} 
.js .pc-slider i{
    background-color: #FF6201;
}
.js .pc-slider .prev{
    left: -50px;
}
.js .pc-slider .next{
    right: -130px;
}
/* Slide de texto */
.quote-container{
    background-color: #FF6201;
    padding: 50px 0;
    border-bottom: 12px solid #F63E02;
}
.quote-slide-show h2{
    color: white;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
}
.quote-slide-show figcaption{
    color: white;
    font-size: 18px;
    text-align: center;
    font-style: italic;
}

.no-js .quote-slide-show figure + figure{
    margin-top: 5em;
}

/* Footer */
.footer-container{
    background-color: #242a2c;
    padding: 50px 0 250px 0;
    color: #454e51;
    font-size: 14px;
}

.footer-container-ul li{
    list-style: none;
}
.footer-container-ul a{
    color: #454e51;
    display: block;
    font-weight: 600;
    text-decoration: none;
}
.footer-container a{
    text-decoration: none;
    color: white;
}
.footer-logo{
    text-transform: uppercase;
}
#mais{
    display: none;
}
/* Responsividade */
@media screen and (min-width:1025px){
    /* Menu responsivo */
    .top-header{
        position: fixed;
    }
    .logo-text{
        width: 15%;
        box-sizing: border-box;
    }
    .header-btn-menu{
        display: none;
    }
    .top-header-nav{
        float: left;
        width: 85%;
        clear: none;
        max-width: 1000px;
    }
    .top-header-nav ul{
        display: flex;
        justify-content: space-around;
        
    }
    .top-header-nav li{
        border-bottom: none;
        flex-grow: 1;
    }
    .top-header-nav a{
        background: white;
    }
    .container-section{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px;
    }
    .content-main .container-generic{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
    .last-articles-img{
        grid-template-columns: repeat(6, 1fr);
    }
    .footer-container .container-generic{
        display: flex;
    }
    .footer-container .container-generic > * {
      margin: 1.5em;  
    }
}