@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ufsq1w');
  src:  url('fonts/icomoon.eot?ufsq1w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ufsq1w') format('truetype'),
    url('fonts/icomoon.woff?ufsq1w') format('woff'),
    url('fonts/icomoon.svg?ufsq1w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-display:before {
  content: "\e956";
}
.icon-user:before {
  content: "\e971";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-evil:before {
  content: "\e9ef";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin2:before {
  content: "\eaca";
}
